html{
    background-color: white;
}

.main-box{
    background-color: #8AC7FF;
    margin: auto;
    margin-top: 2%;
    padding: 1.5em;
    width: 90%;
    height: 50em;
    color: white;
    border-radius: 15px
}

.logo{
    float: right;
    margin-top: 34em;
}

/* Button Page Styles */

.logo-button-pages{
    position: relative;
    float: right;
    margin-top: 10em;
}

.logo-three-button-page{
    position: relative;
    float: right;
    margin-top: 7em;
}

.back-button{
    margin-left: 96%;
}

.button-div-first-page{
    margin-top: 19.5%;
    margin-left: 35%;
}

.button-div-3{
    margin-top: 12%;
    margin-left: 35%;
}

.button-div-2{
    margin-top: 16%;
    margin-left: 35%;
}

.button-one{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #A3D3FF;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 2em;
}

.button-two{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #A3D3FF;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 1em;
}

.button-three{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #ffa3a3;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 1.5em;
}


/* Survey Creation Styles */

.finished-questions{
    background-color: #61B3FF;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    width: 20%;
    color: white;
    padding: 1em;
    border-radius: 15px;
    height: 50em;
    float: left;
}

hr{
    border-style: solid;
    width: 70%;
    border-top: 1px;
}

.next-question{
    background-color: #8AC7FF;
    color: white;
    float: right;
    overflow: hidden;
    width: 71%;
    height: 52em;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 15px;
}

/* Login Form Styles */

.small-blue-square{
    background-color: #A3D3FF;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 1.5em;
    width: 40%;
    height: 20em;
    color: white;
    border-radius: 15px;
    text-align: center;
    border-style: 2px solid;
    border-color: white;
}

#submit{
    margin-top: 2em;
    color: #A3D3FF;
    border-color: white; 
    border-radius: 10px;
    background-color: white;
    width: 4em;
    height: 1.5em;
    border-style: solid;
    font-size: 16px;
    margin-bottom: 2em;
}

.username{
    margin-top: 2em;
}

#username{
    margin-top: 2em;
}

.link{
    color: rgb(64, 100, 218);
    text-decoration: none;
}

.logo-login{
    float: right;
    margin-top: -5em;
}

