html{
    background-color: white;
}

.main-box{
    background-color: #8AC7FF;
    margin: auto;
    margin-top: 2%;
    padding: 1.5em;
    width: 90%;
    height: 50em;
    color: white;
    border-radius: 15px
}

.logo{
    float: right;
    margin-top: 34em;
}

/* Button Page Styles */

.logo-button-pages{
    position: relative;
    float: right;
    margin-top: 7em;
}

.logo-three-button-page{
    position: relative;
    float: right;
    margin-top: 2em;
}

.back-button{
    margin-left: 96%;
}

.button-div-first-page{
    margin-top: 19.5%;
    margin-left: 35%;
}

.button-div-3{
    margin-top: 12%;
    margin-left: 35%;
}

.button-div-2{
    margin-top: 16%;
    margin-left: 35%;
}

.button-one{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #A3D3FF;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 2em;
}

.button-two{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #A3D3FF;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 1em;
}

.button-three{
    color: white;
    border-color: white;
    border-radius: 15px;
    background-color: #ffa3a3;
    width: 20em;
    height: 4em;
    border-style: solid;
    font-size: 24px;
    margin-bottom: 1.5em;
}


/* Survey/Test Creation Styles */

.finished-questions{
    background-color: #61B3FF;
    margin-left: 3%;
    margin-top: 3%;
    text-align: center;
    width: 20%;
    color: white;
    padding: 1em;
    border-radius: 15px;
    height: 86vh;
    float: left;
}

hr{
    border-style: solid;
    width: 70%;
    border-top: 1px;
}

.back{
    float: right;
    margin-top: -5em;
    margin-right: 3em;
}

.next-question{
    background-color: #8AC7FF;
    color: white;
    float: right;
    overflow: hidden;
    width: 71%;
    height: 90vh;
    margin-top: 3%;
    margin-right: 3%;
    border-radius: 15px;
}

.next-question h1{
    margin-left: 1.5em;
    font-size: 42px;
    margin-top: 1.5em;
}

.question-type-div{
    background-color: #A3D3FF;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-top: 5em;
    width: 20%;
    height: 15em;
    font-size: 24px;
    padding: 1.5em;
    border-color: white;
    border-radius: 10px;
}

#question-type-form{
    margin-top: 1.5em;
}
#question-type-form label{
    display: block;
    margin-bottom: 4em;
}

#question-input-form{
    margin-top: -35em;
    margin-left: 38%;
}
#question-input-form label{
    font-size: 24px;
    float: left;
}

.multiple-choice{
    display: block;
    width: 42em;
    height: 3em;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}
.true-false{
    display: inline;
    margin-right: 2em;
    float: left;
    width: 3em;
    height: 3em;
    border-color: white;
    border-style: solid;
}
.tf-text{
    display: inline;
    margin-left: -0.5em;
    margin-right: 1em;
    margin-top: 1em;
}
.short-answer{
    display: block;
    width: 42em;
    height: 3em;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}
.correct{
    float: right;
    margin-right: -3.5em;
    margin-top: -3.5em;
    width: 3em;
    height: 3em;
    border-color: white;
    border-style: solid;
}
.correct-answer{
    float: left;
}
#question{
    margin-bottom: -0.5em;
    display: block;
    width: 45em;
    height: 3em;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

#question-submit-0{
    float: right;
    margin-right: 5em;
    margin-top: 24em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#creation-submit-0{
    float: right;
    margin-left: 5em;
    margin-top: 25em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#question-submit-1{
    float: right;
    margin-right: 5em;
    margin-top: 10.5em;
    margin-left: 1em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#creation-submit-1{
    float: right;
    margin-left: 5em;
    margin-top: 3em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#question-submit-2{
    float: right;
    margin-right: 5em;
    margin-top: 33em;
    margin-left: 1em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#creation-submit-2{
    position: relative;
    float: right;
    margin-left: -43.5em;
    margin-top: 33em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#question-submit-3{
    float: right;
    margin-right: 5em;
    margin-top: 33em;
    margin-left: 1em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}
#creation-submit-3{
    float: right;
    margin-left: 5em;
    margin-top: 33em;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}

/* Login/Register Form Styles */

.small-blue-square{
    background-color: #A3D3FF;
    margin: auto;
    margin-top: 15%;
    margin-bottom: 15%;
    padding: 1.5em;
    width: 40%;
    height: 20em;
    color: white;
    border-radius: 15px;
    text-align: center;
    border-style: 2px solid;
    border-color: white;
}

.small-blue-square input{
    border-color: white;
    border-style: solid;
}

#submit{
    margin-top: 2em;
    color: #A3D3FF;
    border-color: white;
    border-radius: 10px;
    background-color: white;
    width: 4em;
    height: 1.5em;
    border-style: solid;
    font-size: 16px;
    margin-bottom: 2em;
}

.username{
    margin-top: 2em;
}

#username{
    margin-top: 2em;
}

.link{
    color: rgb(64, 100, 218);
    text-decoration: none;
}

.logo-login{
    float: right;
    margin-top: -10em;
}

/* Open/Load Page Styles */

.open-back{
    float: right;
    margin-top: 1em;
}
.open-h1-survey{
    display: inline;
    float: left;
    margin-left: 20%;
    margin-top: 5%;
}
.open-h1-test{
    display: inline;
    float: right;
    margin-right: 19%;
    margin-top: 5%;
}
.open-hr{
    margin-top: 5%;
    width: 95%;
}
.open-div-test{
    background-color: #A3D3FF;
    float: left;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 12.5%;
    padding: 1.5em;
    width: 20%;
    height: 30em;
    color: white;
    border-radius: 15px;
    text-align: center;
    border-style: 2px solid;
    border-color: white;
}
.open-div-survey{
    background-color: #A3D3FF;
    float: right;
    margin-top: 5%;
    margin-bottom: 15%;
    margin-right: 12.5%;
    padding: 1.5em;
    width: 20%;
    height: 30em;
    color: white;
    border-radius: 15px;
    text-align: center;
    border-style: 2px solid;
    border-color: white;
}

/* Load Survey/Test Page */
.question-block{
    width: 80%;
    margin-top: 10%;
    margin: auto;
    font-size: 28px;
}
#question-of-block{
    font-size: 24px;
    margin: auto;
    font-weight: normal;
}

#logo-load{
    position:relative;
    margin-top: 15%;
    margin-bottom: 10%;
    margin-left: 5%;
}

#question-submit-load{
    float: right;
    margin-right: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    border-color: white;
    border-style: solid;
    font-size: 16px;
    padding: 1em 2em;
}

.survey-list-div{
    background-color: #A3D3FF;
    margin: auto;
    margin-top: 15%;
    width: 20%;
    height: 15em;
    font-size: 24px;
    padding: 1.5em;
    border-color: white;
    border-radius: 10px;
}

/* Survey/Test List Styles
 * places light blue rectangle in center
 * places h1 in center above it
 * thas it
*/

.list-div{
    background-color: #A3D3FF;
    margin: auto;
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    height: 50%;
    font-size: 18px;
    padding: 1.5%;
    border-color: white;
    border-radius: 1%;
}

.header-list {
    text-align: center;
}

.question-link{
    border-color: #61B3FF;
    background-color: #61B3FF;
    border-style: solid;
    padding: 0.5em;
    color: white;
}

.test-selection{
    display: block;
    margin: auto;
    margin-top: 25%;
    width: 10em;
    font-size: 18px;
    padding: 1em;
}
.test-selection-submit{
    display: block;
    font-size: 16px;
    padding: 1em;
    border-color: white;
    border-style: solid;
    color: #61B3FF;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    margin-top: 4em;
}
.test-selection-label{
    display: block;
    font-size: 24px;
    margin: auto;
}

/* Test/Survey Take Styles */

.survey-test-title{
    text-align: center;
}

.taker-question-block{
    margin:auto;
    margin-top: 3em;
    text-align: center;
}

#questionSubmit{
    position: absolute;
    font-size: 18px;
    padding: 1.25em;
    border-color: white;
    border-style: solid;
    color: #61B3FF;
    background-color: white;
    border-radius: 15px;
    margin-top: 30%;
    margin-left: 75%
}

.form-text-input{
    display: block;
    width: 30em;
    height: 3em;
    border-radius: 5px;
    margin: auto;
    border-style: solid;
    border-color: white;
    margin-bottom: 3em;
}

#test-list-form{
    margin-top: 5em;
}
