<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Open</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div class='main-box'>
        <a class='back-button' href="taker_or_creator"><img src="{{url_for('static', filename='images/back-button.png')}}" width='50' height='50'></a>
        <div class='button-div-2'>
            <a href='survey_or_test'><button class='button-two'>Create New File</button></a>
            <br>
            <a href='upload_or_grade'><button class='button-one'>Open/Load</button></a>
        </div>
        <img class="logo-button-pages" width='300' height='75' src="{{url_for('static', filename='images/greggs_a-team.png')}}">
    </div>
</body>

</html>