<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Open</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <a class='back-button' href="taker_or_creator.html"><img src="../images/back-button.png" width='50' height='50'></a>
    <div class='button-div-2'>
    <a href='survey_or_test.html'><button class='button-one'>Create New File</button></a>
    <br>
    <a href='upload_or_grade.html'><button class='button-one'>Open/Load</button></a>
    </div>
    <img class="logo-button-pages" width='300' height='75' src="../images/greggs_a-team.png">
</body>

</html>