<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Grading Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>        
        <h1 class = 'header-list'>Select Taker </h1>
        <hr>
        <a href='/grade_test_or_survey'><img src="{{ url_for('static', filename='images/back-button.png') }}" height='50' width='50' class='back'></a>

        <div class='list-div'>
            <form id='test-grade-form' method='POST'>
                <select class='test-selection' name="test-grading-list" id='test-grading-list' form="test-grade-form">
                    {% for user in user_listing %}
                        <option value={{user}}>{{user}}</option>
                    {% endfor %}
                </select>
                <button type='submit' class='test-selection-submit' name='submit'>Grade Test</button>
            </form>
        </div>

    </div>
</body>

</html>