<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Open</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>
        <div class='small-blue-square'>
            <h1>Login</h1>
            <hr>
            <form id='login-form' action='/taker_or_creator' method='POST'>
                <label name='username' id="login-username">Username:
                <input name='username' id='username' type='text'>
                </label>
                <br>
                <br>
                <label name='password' id="login-password">Password:
                <input type='password' id='password' name='password'>
                </label>
                <br>
                <button type='submit' id='submit'>Login</button>
            </form>
            <hr>
            <p id='new-user'>New User? Register <a href='' class='link'>here</a></p>
        </div>
        
        <img class="logo-login" width='300' height='75' src="{{url_for('static', filename='images/greggs_a-team.png')}}">


    </div>
</body>

</html>