<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Tabulation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>
        <h1 class = 'header-list'>{{survey_name}}</h1>
        <p>Total Takers: {{surveyQuestions['total_takers']}}</p>

        <hr>
        <a href='/tabulate_survey_select'><img src="{{ url_for('static', filename='images/back-button.png') }}" height='50' width='50' class='back'></a>

        <div class='grades-div scroll'>
            <!-- {{gradedQuestions}} -->
                {% for question in surveyQuestions['Questions']|dictsort %}
                    <!-- Show all questions their top answers -->
                    <h1>{{loop.index}}.) {{question[1]["question"]}} </h1>

                    {% for key, value in question[1]['answers'].items()|sort(attribute='1', reverse = True) %}
                        {% if loop.index == 1 %}

                            <h2> Top Answer: {{ key }}, with {{ value }} answers ({{(value / surveyQuestions['total_takers']) * 100}}%)</h1>

                        {% else %}

                        <p>{{ key }}, with {{ value }} answers ({{(value / surveyQuestions['total_takers']) * 100}}%)</p>

                        {% endif %}
                    {% endfor %}
                    <!--  <p>Top Answer: {{question[1]['answer']}}</p> LINE 23 NEEDS TO BE EDITED-->

                    <hr>
                {% endfor %}
        </div>

    </div>
</body>

</html>
