<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='finished-questions'>
        <h2>Questions</h2>
        <hr>
    </div>
    <div class='next-question'>
        <h1>Create Survey</h1>
        <a href='/survey_or_test'><img src="{{url_for('static', filename='images/back-button.png')}}" height='50' width='50' class='back'></a>

        <div class='question-type-div'>
            <form id='question-type-form' method='POST'>
                <label for='multiple-choice'>
                    <input type='radio' name='question-type' id='multiple-choice' value='multiple-choice'> Multiple Choice
                </label>
                <label for='true-false'>
                    <input type='radio' name='question-type' id='true-false' value="true-false"> True/False
                </label>
                <label for='short-answer'>
                    <input type='radio' name='question-type' id='short-answer' value='short-answer'> Short Answer
                </label>
                <label for='ranking'>
                    <input type='radio' name='question-type' id='ranking' value='ranking'> Ranking
                </label>
            </form>
        </div>

        <form id='question-input-form' methodd='post'>
            <label for='question'>Question:
                <input type='text' id='question'>
            </label>
            <label for='choice-a'>
                A. <input type='text' id='choice-a'>
            </label>
            <label for='choice-b'>
                B. <input type='text' id='choice-b'>
            </label>
            <label for='choice-c'>
                C. <input type='text' id='choice-c'>
            </label>
            <label for='choice-d'>
                D. <input type='text' id='choice-d'>
            </label>
            <button type='submit' id='question-submit'>Next Question</button>
        </form>
        <button type='submit' id='creation-submit'>Save Survey</button>
    </div>
</body>

</html>