<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Tabulation Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>        
        <h1 class = 'header-list'>Enter Survey Name </h1>
        <hr>
        <a href='/grade_test_or_survey'><img src="{{ url_for('static', filename='images/back-button.png') }}" height='50' width='50' class='back'></a>

        <div class='list-div'>
            <form id='survey-tabulate-form' method='POST'>
                <input type='text' class='form-text-input' name='survey-lookup' >
                <button type='submit' class='test-selection-submit'>Tabulate Survey</button>
            </form>
        </div>

    </div>
</body>

</html>