<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>        
        <h1 class = 'header-list'>Enter Test Name</h1>
        <hr>
        <a href='/take_survey_or_test'><img src="{{ url_for('static', filename='images/back-button.png') }}" height='50' width='50' class='back'></a>

        <div class='list-div'>
        <form id='test-list-form' method='POST'>
            <input type='text' class='form-text-input' name='test-lookup'>
            <button type='submit' class='test-selection-submit'>Take Test</button>
        </form> 
        </div>

    </div>
</body>

</html>
