<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taking Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <!-- DARK BLUE RECTANGLE-->
  <div class='finished-questions'>
    <h2>Questions</h2>
    <hr>
    <form id='questions-list-form' method='POST'>
      <!-- Displays all Q #'s-->
      {% for those in questionArray %}
      <button type='submit' class='question-link' name='submit' value='{{loop.index}}'><p> Q{{loop.index}}: {{those}}</p></button>
      <hr>
      {% endfor %}
    </form>
  </div> <!-- End Div-->

  <div class='next-question'> <!-- Light blue square -->
    <h1 class = 'header-list'>{{surveyName}}</h1> <!-- Name of Survey-->
    <hr>        
    <a href='/taker_survey_select'><img src="{{url_for('static', filename='images/back-button.png')}}" height='50' width='50' class='back'></a>
    
    <div class = 'question-block'>
      
        <div class='submit-spacing'>
        <form id='questions' method='POST'>
        <!-- Feed question(number) here to display question name-->
        <h2 > Question: {{surveyQuestion}} </h2> 
        <!-- Feed answer array here to display the questions and their respective number-->
        {% if questionType == 'multiple-choice' %}
          {% for n in answers %} 
          <h3 id = 'question-of-block'>{{loop.index}}.  {{n}}</h3>
          <input type='radio' class='mc-answer-response' name='mc-answer-response' value='{{n}}'/>
          {% endfor %}
        {%elif questionType == 'short-answer' %}
          <input type='text' class='short-answer-response' name='short-answer-response'>
        {%elif questionType == 'true-false' %}
          <h3 id = 'question-of-block'>1.  True</h3>
          <input type='radio' class='mc-answer-response' name='tf-answer-response' value='True'/>
          <h3 id = 'question-of-block'>2.  False</h3>
          <input type='radio' class='mc-answer-response' name='tf-answer-response' value='False'/>
        {% endif %}
        </div>

        <button type='submit' class='modify-submit' name='{{Qstring}}'>Save Changes</button>
        </form>
    </div>
</div>  <!-- End Div-->  
</body>

</html>

