<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taker or Creator</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
 
<body>
    <div class='main-box'>
        <div class='button-div-first-page'>
            <!-- Still needs a page-->
            <button class='button-three'>I'm a Taker</button>
            <br>
            <a href='create_or_open.html'><button class='button-one'>I'm a Creator</button></a>
        </div>
        <img class="logo-button-pages" width='300' height='75' src="../images/greggs_a-team.png">
    </div>
</body>

</html>