<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test List</title>
    <link rel="stylesheet" href="/main.css">
</head>
 
<body>

    <div class='next-question'>
        <h1 class = 'header-list'>Select Test</h1>
        <hr>
        <a href='/survey_or_test'><img src="/back-button.png" height='50' width='50' class='back'></a>

        <div class='list-div'>
            {% for n in questions %}
        <p>{{questionInfo}}</p>
        <hr>
        {% endfor %}
        </div>


    </div>
</body>

</html>
