<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Name -- input here</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='finished-questions'>
        <h2>Questions</h2>
        <hr>
        <form id='questions-list-form' method='POST'>
            {% for those in questionArray %}<!-- Displays all Q #'s-->
            <button type='submit' class='question-link' name='submit' value='{{loop.index}}'><p> Q{{loop.index}}: {{those}}</p></button>
            <hr>
            {% endfor %}
        </form>
    </div>

    <div class='next-question'> <!-- Light blue square -->
        <h1 class = 'header-list'>{{Name}}</h1>
        <hr>        
        <a href='/open_file'><img src="{{url_for('static', filename='images/back-button.png')}}" height='50' width='50' class='back'></a>
        <div class = 'question-block'>
            <h2 > Question: {{question}} </h2> <!-- Feed question(number) here to display question name-->
            {% if correct == 'True' %}
            <h3 id = 'question-of-block'>1. True </h3>
            <h3 id = 'question-of-block'>2. False </h3>
            <h3 id = 'question-of-block'> Correct Answer: {{correct}} </h3>
            {% elif correct == 'False' %}
            <h3 id = 'question-of-block'>1. True </h3>
            <h3 id = 'question-of-block'>2. False </h3>
            <h3 id = 'question-of-block'> Correct Answer: {{correct}} </h3>
            {%else %}
                {% for n in answers %} <!-- Feed answer array here to display the questions and their respective number-->
                 <h3 id = 'question-of-block'>{{loop.index}} {{n}} </h3>
                {% endfor %}  
                {% if correct == 'A' %}
                    <h3 id = 'question-of-block'> Correct Answer: 1 </h3>
                {% elif correct == 'B' %}
                    <h3 id = 'question-of-block'> Correct Answer: 2 </h3>
                {% elif correct == 'C' %}
                    <h3 id = 'question-of-block'> Correct Answer: 3 </h3>
                {% elif correct == 'D' %}
                    <h3 id = 'question-of-block'> Correct Answer: 4 </h3>
                {%endif%}

            {%endif%}
        </div>
        
        <button type='submit' id='question-submit-load'>Next Question</button>
        <img id= 'logo-load' width='300' height='75' src="{{url_for('static', filename='images/greggs_a-team.png')}}">
    </div>   

</body>

</html>
