<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Test</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='finished-questions'>
        <h2>Questions</h2>
        <hr>
        {% for n in amount_of_questions %}
        <p> Q{{n[-1]}}:</p>
        <hr>
        {% endfor %}
    </div>

    <div class='next-question'>
        <h1>Create Test</h1>
        <a href='/survey_or_test'><img src="{{url_for('static', filename='images/back-button.png')}}" height='50' width='50' class='back'></a>

        <div class='question-type-div'>
            <form id='question-type-form' method='POST'>
                <label for='multiple-choice'>
                    <input type='radio' name='question-type' id='multiple-choice' value='multiple-choice' onclick='this.form.submit()'> Multiple Choice
                </label>
                <label for='true-false'>
                    <input type='radio' name='question-type' id='true-false' value="true-false" onclick='this.form.submit()'> True/False
                </label>
                <label for='short-answer'>
                    <input type='radio' name='question-type' id='short-answer' value='short-answer' onclick='this.form.submit()'> Short Answer
                </label>
            </form>
        </div>

        <form id='question-input-form' method='POST'>
            <label for='question'>Question:
                <input type='text' name = "question" id='question'>
            </label>
            <div class={{correctAnswer}}>
                <!-- Add correct answer radios... -->
                {% for n in my_list %}
                    <label name="{{n}}" class="username">
                    {% if radioChoices==True %}
                        <input type={{questionType}} name = "{{n}}" class={{questionClass}}> <input type='radio' class='correct' name='correct-answer' value = "{{n}}">
                    {% else %}
                        <input type={{questionType}} name = 'correct-answer' value = "{{n}}" class={{questionClass}}>
                    {% endif %}
                    </label>
                {% endfor %}
            </div>
            <button type='submit' id={{qSubmit}} name = 'submit' value = 'next-question'>Next Question</button>
        </form>

        <form id='test-submit' method='POST'>
            <button type='submit' id={{cSubmit}} name = 'submit' value = 'save-test'>Save Test</button>
        </form>

    </div>
</body>

</html>