<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Open</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
 
<body>
    <div class='main-box'>
        <a class='back-button' href="create_or_open.html"><img src="../images/back-button.png" width='50' height='50'></a>
        <div class='button-div-3'>
            <button class='button-two'>Open File</button>
            <br>
            <button class='button-two'>Upload File</button>
            <br>
            <button class='button-two'>Grade Test</button>
        </div>
        <img class="logo-button-pages" width='300' height='75' src="../images/greggs_a-team.png">
    </div>
</body>

</html>