<!DOCTYPE html>
<html>
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade View</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
 
<body>
    <div class='main-box'>        
        <h1 class = 'header-list'>{{takerName}} - {{test_name}}</h1>
        {% if 'grade' in gradedQuestions.keys() %}
        <h4 class='overall-grade'>Overall Grade: {{gradedQuestions['grade']}}%</h4>
        {% endif %}
        <hr>
        <a href='/taker_selection_for_grading'><img src="{{ url_for('static', filename='images/back-button.png') }}" height='50' width='50' class='back'></a>

        <div class='grades-div'>
            <!-- {{gradedQuestions}} -->
            <form id='short-answer-grading-form' method='POST'>
                <div class='scroll'>
                {% for question in gradedQuestions['Questions']|dictsort %}
                    <!-- Show all questions and if they're correct or not -->
                    <p>{{loop.index}}.) {{question[1]["Question"]}} </p>
                    <p>Taker Answer: {{question[1]['answer']}}</p>
                    {% if question[1]["correct_answer"] != '' %}
                    <p>Correct Answer: {{question[1]["correct_answer"]}}</p>
                    {% endif %}
                    <p>Grade: <input type='number' class='grade-view' min='0' max='1' value="{{question[1]['points']}}"> / 1</p>
                    <hr>
                {% endfor %}
                </div>
                <button type='submit' class='test-selection-submit'>Submit Grades</button>
            </form> 
        </div>

    </div>
</body>

</html>
